body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  border: 1px solid #e0e0e0;
}

.card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #4caf50;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card ul li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  font-size: 0.9em;
}

.card ul li:last-child {
  border-bottom: none;
}

.card ul li span {
  font-weight: bold;
}

@media (max-width: 768px) {
  .schedule-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 2%;
}
